---
import Navigation from "../components/Nav.astro";
import Kontakt from "../components/Kontakt.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <title>Kontakt</title>
  </head>
  <header><Navigation /></header>
  <body>
    <main><Kontakt /></main>
    <footer></footer>
  </body>


</html>
