---
import Navigation from "../components/Nav.astro";
import Login from "../components/Login.astro";
import "../styles/global.css";
import SiteLayout from "../layouts/SiteLayout.astro";
import Futter from "../components/Futter.astro";
---

<SiteLayout>
  <div class="min-h-screen grid md:grid-cols-2">
    <div class="left mt-8 grid justify-center"><Login /></div>
    <div class="mb-72 border-x-2">
      <div class="right pb-10 w-full mt-24 text-center font-textFont font-semibold">
        <h1>Danish Bakers</h1>
        <p>Ortenvej 80, 6800 Varde</p>
        <p>CVR: 43771930</p>
      </div>
    </div>
  </div>
</SiteLayout>
