---
// const futterItem = {
//   icon: "test",
//   tittel: "@Digebageren",
//   phone: "42327278",
// };
---

<div class="grid gridcols-2w-full bg-orange-50 h-16 md:grid grid-cols-3 pt-6 text-xl">
  <div class="ml-5 f text-2xl">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <div class=""><p class="font-primary">@Digebageren</p></div>
  <div class="md:grid grid-cols-2"><div class="max-sm:hidden"><i class="fa-solid fa-mobile-retro"></i></div><p>42327278</p></div>
</div>
