<div>
  <div class="w-full md:p-10 aspect-video">
    <div class="grid place-content-center">
      <h2>NYHED</h2>
      <div class="">
        <a class="button-primary" href=" ">BESTIL</a>
      </div>
    </div>
    <img class="w-full h-full object-cover" src="https://fktfpruykeeaqnghueoo.supabase.co/storage/v1/object/public/ProductImg/hero.jpeg?t=2023-05-28T08%3A23%3A22.123Z" />
  </div>
</div>
