<div>
  <div class="w-full md:p-10 aspect-video relative">
    <img class="w-full h-full object-cover" src="https://fktfpruykeeaqnghueoo.supabase.co/storage/v1/object/public/ProductImg/hero.jpeg?t=2023-05-28T08%3A23%3A22.123Z" />
    <div class="static border-gray">
      <h2>NYHED</h2>
      <div class="mt-auto">
        <a class="button-primary" href=" ">BESTIL</a>
      </div>
    </div>
  </div>
</div>
