---
import Offer from "../components/Offer.astro";
---

<div class="relative flex sm: min-h-[300px] md:min-h-[600px] items-center justify-center">
  <img class="w-full h-full object-cover rounded-s-md absolute z-0" src="https://fktfpruykeeaqnghueoo.supabase.co/storage/v1/object/public/ProductImg/hero.jpeg?t=2023-05-28T08%3A23%3A22.123Z" />

  <Offer />
</div>
