---
import Hero from "./Hero.astro";
import Infobox from "./Infobox.astro";
const infoBoxes = [
  {
    image: "https://fktfpruykeeaqnghueoo.supabase.co/storage/v1/object/public/ProductImg/25years.jpeg",
    title: "30 år med Digebageren",
    text: "Bageren bag diget er grundlagt for mere end 30 år siden i Højer. Efter Per Snitgaard overtog butikken, har han udvidet med yderligere to butikker i Bredebro og på Rømø. I dag har udvidelsen muliggjort at tilbyde dag-til-dag levering til både private, og virksomheder. Per Snitgår og han team, håber på i fremtiden, at kunne åbne flere butikker, så de kan tilbyde frisk brød og kager til flere byer i Sønderjylland.",
  },
  {
    image: "../public/picturs/forside25År.jpeg",
    title: "Bliv en del af teamet",
    text: "Vi er altid interesseret i nye og spændende profiler til både vores butikker og produktionen. Hos os er vi som en lille familie, hvilket er med til at gøre arbejdet sjovt og spændende. Derfor hører vi gerne uopfordret fra dig, hvis du mener din profil passer ind hos os. Vil du være en del af familien? Vi glæder os til at høre fra dig. ",
    cta: {
      title: "Angsøg uopfordret nu",
      href: "",
    },
  },
];
---

<div class="mainContainer font-textFont">
  <Hero />
  <div class="container">
    {infoBoxes.map((infoBox) => <Infobox {...infoBox} />)}
  </div>
</div>
