---
import Hero from "./Hero.astro";
import Infobox from "./Infobox.astro";
const infoBoxes = [
  {
    image: "../public/picturs/forside25År.jpeg",
    title: "Bliv en del af teamet",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestias sequi asperiores ut quasi excepturi ducimus corporis distinctio soluta rerum quo voluptates vel numquam consequuntur iure libero, quia iusto eaque.",
    cta: {
      title: "Angsøg nu",
      href: "",
    },
  },
  {
    image: "../public/picturs/forside25År.jpeg",
    title: "Bliv en del af teamet",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestias sequi asperiores ut quasi excepturi ducimus corporis distinctio soluta rerum quo voluptates vel numquam consequuntur iure libero, quia iusto eaque.",
    cta: {
      title: "Angsøg nu",
      href: "",
    },
  },
];
---

<div class="mainContainer">
  <Hero />
  <div class="container">
    {infoBoxes.map((infoBox) => <Infobox {...infoBox} />)}
  </div>
</div>
