<div class="bg-white/80 p-4 z-10 relative inline-flex flex-col rounded-md m-4 max-w-sm md:max-h-56 item bg-center text-lg">
  <h2 class="font-textFont font-bold pb-3">NYHED</h2>
  <p class="font-textFont">Du kan nu bestille frisk bagt brød online. Bestil dine favoritter, eller special vare til fest og sammenkomster.</p>
  <div class="pb-4 pt-4">
    <a class="button-primary max-w-[100px]" href="/bestil">BESTIL</a>
  </div>
</div>
